doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Footer - GoalBridge
    link(rel="stylesheet", href="/css/style.css")

  body
    footer#footer-container
      div#footer-content
        p#app-info GoalBridge © 2024. Todos los derechos reservados.

    // Scripts
    script(src="index.js")
    script(src="/js/script.js")
