//- header.pug
header
  //- Icono del menú hamburguesa
  .menu-icon
    p ☰

  //- Menú desplegable
  nav.menu
    ul
      li: a(href="/") Home
      li: a(href="/favoritos") Favoritos
      li: a(href="/perfil") Perfil
      li
        a(href="#") Ajustes
        ul
          li: a(href="/ajustes/nightshift") NightShift

