doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Header - GoalBridge
    link(rel="stylesheet", href="/css/style.css")

  body
    header
      .header-content
        .logo-container
          img.logo(src="/assets/logo.png", alt="GoalBridge Logo")
        h1(class="title-welcome") Bienvenido a GoalBridge
        p(class="intro-text") Encuentra el empleo de tus sueños con nuestra plataforma. ¡Fácil, rápido y accesible!
      
      .menu-icon(onclick="toggleMenu()")
        p ☰

      .menu#menu
        nav
          //- a(href="/") Home
          //- a(href="/favoritos") Favoritos
          //- a(href="/perfil") Perfil
          //- a(href="#") Ajustes

        .menu-actions
          button(onclick="registrate()") Regístrate
          button(onclick="iniciaSesion()") Inicia Sesión
          //-button(onclick="iniciaSesion()") Cerrar Sesión


    // Scripts
    script(src="index.js")
    script(src="/js/script.js")