//- header.pug
header
  //- Icono del menú hamburguesa
  .menu-icon
    p ☰

  //- Menú desplegable
  nav.menu
     a(href="/") Home
     a(href="/favoritos") Favoritos
     a(href="/perfil") Perfil
     a(href="#") Ajustes
       
          

