doctype html
html
  head
    meta(charset="utf-8")
    title Test
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300", rel="stylesheet", type="text/css")
  body
    .container
      fieldset
        form(action="/film", method="post")
          input(name="username", type="text", class="ghost-input", placeholder="Nombre de Usuario", required)
          input(name="password", type="text", class="ghost-input", placeholder="Contraseña", required)
          input(name="email", type="text", class="ghost-input", placeholder="Correo electrónico", required)
          input(type="submit", class="ghost-button", value="Get Film")

//- Esta plantlla tiene un formulario que recoge el titulo de la pelicula en el campo name="---" y lo envia con (action="/film", method="post")
//- que hace un post en la ruta /film.