//- index.pug
doctype html
html(lang="es")
  head
    title Bienvenido a GoalBridge
    link(rel="stylesheet", href="css/style.css")
  body
    include header 
    section(class="features-section")
      h2(class="features-title") ¿Por qué elegir GoalBridge?
      div(class="features-container")
        div(class="feature-item")
          i(class="icon fas fa-search") 
          h3 Busca Ofertas Globales
          p Encuentra ofertas de empleo de empresas líderes de todo el mundo.
        div(class="feature-item")
          i(class="icon fas fa-filter") 
          h3 Filtra según tus habilidades
          p Personaliza la búsqueda según tus intereses y experiencia.
        div(class="feature-item")
          i(class="icon fas fa-bookmark") 
          h3 Guarda tus Favoritos
          p Guarda las ofertas que más te interesen y vuelve a ellas cuando quieras.
        div(class="buscar-chamba")
          i(class="busqueda de chamba")
          a(href="/joboffers" class="btn-primary") Comienza a Buscar CHAMBA


    footer(class="footer")
      p(class="footer-text") 2024 © GoalBridge - Todos los derechos reservados.
      
          script(src="/js/script.js")
