doctype html
html
  head
    title GoalBridge - Bienvenido
    link(rel="stylesheet" href="/css/style.css")
    //link(href="https://fonts.googleapis.com/css?family=Open+Sans:300", rel="stylesheet", type="text/css")
   
  include header
  
  body
    //- Contenedor principal
    .container
      //- Encabezado con el nombre de la aplicación
      header
        h1 Bienvenido a GoalBridge
        p Tu portal gratuito para encontrar las mejores ofertas de trabajo en España
        p GoalBridge te ayuda a conectar con oportunidades que se adaptan a tus habilidades y preferencias

      //- Botones de autenticación
      .auth-buttons
        a.button(href="/login") Iniciar Sesión
        a.button(href="/register") Regístrate

    //- Pie de página
    include footer
