
doctype html
html
  head
    title Register-GoalBridge 
    link(rel="stylesheet" href="/css/style.css")

  // Incluir el header y el layout
  include header
  include layout

  block content
    h1 Registro

    // Formulario de registro
    form(action="/user" method="POST")
      // Campo para el nombre
      label(for="nombre") Nombre:
      input(type="text" name="nombre" required)

      // Campo para los apellidos
      label(for="apellidos") Apellidos:
      input(type="text" name="apellidos" required)

      // Campo para el correo electrónico
      label(for="email") Correo electrónico:
      input(type="email" name="email" required)

      // Campo para la contraseña
      label(for="password") Contraseña:
      input(type="password" name="password" required)

      // Campo para el rol
      label(for="rol") Rol:
      input(type="text" name="rol" required)

      // Botón de envío
      button(type="submit") Registrar
  include footer 
    // Scripts
    script(src="index.js")
    script(src="/js/script.js")

