doctype html
html
  head
    title GoalBridge - Bienvenido
    link(rel="stylesheet" href="/css/style.css")
  body(class="profile-background")
    // Incluir el header
    include header

    main(class="profile-background")
      .container
        // Sección izquierda - Búsqueda de ofertas de trabajo
        .left-section
          section.job-search
            h3 Buscar ofertas de trabajo
            form(action="/joboffers" method="GET")
              input(type="text" name="keyword" placeholder="Buscar empleo..." required)
              button(type="submit") Buscar

        // Sección central - Favoritos
        .center-section
          section.favorites
            h3 Tus Favoritos
            // Comprobación de existencia de "favorites"
            if favorites && favorites.length
              each fav in favorites
                .favorite-item
                  .dashboard-offer-item
                    h4.dashboard-offer-title #{fav.puesto}
                    p
                      strong Empresa:
                      | #{fav.empresa}
                    p
                      strong Salario:
                      | #{fav.salario}
                  button.remove-button
                    i(class="fa fa-trash") Eliminar
            else
              p No tienes favoritos guardados

        // Sección derecha - Publicaciones recientes
        .right-section
          section.recent-posts
            h3 Publicaciones más recientes
            .post-item
              p Publicación 1
              p Breve descripción de la publicación
            .post-item
              p Publicación 2
              p Breve descripción de la publicación

    // Incluir el footer
    include footer

    // Scripts
    script(src="/js/script.js")
